<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>

     <div class="text-center pt-3">
     <h2><strong><%=place.name%></strong></h2>
     <section>
     <ul class="text-center" style="list-style-type: none; padding:0;">
          <li>Country: <%=place.country%></li>
          <li>Continent: <%=place.continent%></li>
     </ul>

     <div class=row">
          <div class="container col" style="max-height: 100vh; max-width: 100vh;">
          <div class="col-6 offset-3">
               <img class="img-fluid rounded" src="<%=place.image%>"/>
          </div>
          </div>
     </div>
     </div>
     <ul style="list-style-type: none;">

          <% if (commentsLeft.length > 0) { %>
               <% for (let i = 0; i < commentsLeft.length; i++) { %>
          <li style="font-size:large;" class="ml-3 mt-4 text-center"><%=commentsLeft[i].body%></li> 
               <%}%>
          <%}%>

     </ul>
    




     <h4 class="mb-3">Add a Comment!</h4>
     <form action="/comments/new" method="GET">
     <input class="ml-3 mb-3" type="submit" value="Add Comment"/><br/></form>

     <form action="/places/<%= place._id %>?_method=DELETE" method="POST">
     <input class="ml-3 mb-3" type="submit" value="Delete Place"/>
     </form>

     <form action="/places/<%=place._id%>/edit" method="GET">
     <input class="ml-3" type="submit" value="Edit Place"/>
     </form>
     
</section>
</body>
</html>