<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>

     <div class="text-center pt-3 text-light">
     <h2><strong><%=place.name%></strong></h2>
   
     <ul class="text-center text-light" style="list-style-type: none; padding:0;">
          <li>Country: <%=place.country%></li>
          <li>Continent: <%=place.continent%></li>
     </ul>

     <div class="row">
          <div class="container" style="border: 1px solid darkgrey;
background-color: white;
padding: 10px 15px 40px 15px;
box-shadow: 5px 10px 10px darkgrey; margin-left: 475px; margin-right: 475px; padding-bottom: 40px; padding-top: 15px;">
          <div class="rounded mx-auto d-block" style="width:80%; height:vh; object-fit: cover;">
               <img class="img-fluid rounded card-img-top border border-secondary" 
               src="<%=place.image%>">
          </div>
          <div class="text-center text-dark" style="padding-top: 50px; font-family: 'Reenie Beanie', cursive; font-size: 40px; font-weight: lighter">
               <h2><strong><%=place.name%></strong></h2>
          </div>
     </div>
     </div>

  
     <ul style="list-style-type: none;">

          <% if (commentsLeft.length > 0) { %>
               <% for (let i = 0; i < commentsLeft.length; i++) { %>
          <li class="mt-4 text-center text-light" style="font-size:large;"><%=commentsLeft[i].firstName%>:</li>
          <li style="font-size:medium; margin-left: 100px; margin-right: 100px;" class="ml-3 mt-2 text-center text-light"><%=commentsLeft[i].body%></li> 
               <%}%>
          <%}%>

     </ul>
    




     <h4 class="mb-3">Add a Comment!</h4>
     <form action="/comments" method="POST">

          <div class="form-row justify-content-center mr-1">

          <label for="firstName" style="margin-right: 15px;">First Name:</label>
          <input type="text" class="form-control w-50" name="firstName"/>
     </div>

          <div class="form-row justify-content-center mt-2">

          <label for="body" style="margin-right: 15px;">Comment:</label>
          <textarea class="form-control w-50" rows="3" name="body"></textarea>
          </div>

          <div>
          <input type="hidden" name="place" value="<%=place._id%>" />
          </div>

          <div class="mt-2 ml-5">
          <input type="submit" value="submit"/>
          </div>
   </form>

     <form action="/places/<%= place._id %>?_method=DELETE" method="POST">
     <input class="ml-3 mb-3" type="submit" value="Delete Place"/>
     </form>

     <form action="/places/<%=place._id%>/edit" method="GET">
     <input class="ml-3" type="submit" value="Edit Place"/>
     </form>
     

</body>
</html>