<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>

     <div class="text-center">
     <h2><strong><%=place.name%></strong></h2>
     <section>
     <ul style="list-style-type: none;">
          <li>Country: <%=place.country%></li>
          <li>Continent: <%=place.continent%></li>
     </ul>

     <div class=row">
          <div class="col-12">
               <img class="img-fluid" src="/images/fremont_troll.jpg"/>
          </div>
     </div>
     </div>
     <h4 class="mt-4">Last Comment: </h4>
     <p><%=comments%></p>

     <h4 class="mb-3">Add a Comment!</h4>
     <form action="/comments/new" method="GET">
     <input class="ml-3 mb-3" type="submit" value="Add Comment"/><br/>

     <form action="/places/<%= place._id %>?_method=DELETE" method="POST">
     <input class="ml-3 mb-3" type="submit" value="Delete Place"/>
     </form>

     <form action="/places/<%=place._id%>/edit" method="GET">
     <input class="ml-3" type="submit" value="Edit Place"/>
     </form>
     
</section>
</body>
</html>