<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>

     <h3><strong>Place: </strong> <%=place.name%></h3>
     <section>
     <ul>

          <li>Country: <%=place.country%></li>
          <li>Continent: <%=place.continent%></li>

          <ul>
               <% place.comments.forEach((comment) => { %>
                    <a href="/comments/<%=comment.id%>"><li><%= comment.body%></li></a>

               <% }) %>
     
          </ul>
     </ul>

     <form action="/places/<%= place._id %>?_method=DELETE" method="POST">
     <input class="ml-3" type="submit" value="Delete Place"/>
     </form>


     <br/>

     <form action="/places/<%=place._id%>/edit" method="GET">
     <input class="ml-3" type="submit" value="Edit Place"/>
     </form>
     
</section>
</body>
</html>